# ===== =    = ===== ==   == ===== ===== =   =
#   =   ====== ===   = === =   =   ===   =====
#   =   =    = ===== =  =  = ===== =       =
# 
#	     Themify 2 - aquamarine
#		   Dook  2025
#
#-----------------------------------------------#
#
wps: /.rockbox/wps/Themify_2.wps
sbs: /.rockbox/wps/Themify_2.sbs
font: /.rockbox/fonts/22-LeagueSpartan-Regular.fnt
#
show icons: on
scrollbar: right
battery display: numeric
time format: 12hour
#
foreground color: 00fbd6
background color: 000c21
#
scroll speed: 14
scroll delay: 1500
scroll step: 1
#
